<h1>Welcome {{ user.username }}</h1>
<section class="c-dashboared__listLinks">
	<h2>Get specific list</h2>
	<ul>
		{% for listType in listTypes %}
		<li>
			<a href="list.php?list={{ listType.id }}&film">{{ listType.name }}</a>
		</li>
		{% endfor %}
	</ul>
</section>
<section class="c-dashboardWrapper">
	<article>
		<h2>Your films</h2>
		{% if lines|length < 1 %}
		<p>Geen films in uw lijsten</p>
		<a href="index.php">Voeg er toe</a>
		{% else %} {% include "filmTable.twig" %}{% endif %}
	</article>

	<article>
		<div>
			<h2>Your stats</h2>
			<p>Total watchtime: {{ totalTime }} minutes</p>
			<p>average rating given to films: {{ averageRating }}/10</p>
			<h4>Percentage of films per genre</h4>
			<ul class="c-genrePercentages">
				{% for genrePercentage in genrePercentages %}
				<li>
					<span>{{ genrePercentage.genre.name }}:</span>
					<span> {{ genrePercentage.percentage }}%</span>
				</li>
				{% endfor %}
			</ul>
		</div>
	</article>
</section>
